main.main  
    .user-view
        nav.user-view__menu
        ul.side-nav
            +navItem('#', 'Settings', 'settings', true)
            +navItem('dictionaries', 'My Dictionaries', 'briefcase')
            +navItem('#', 'My reviews', 'star')
            +navItem('#', 'Billing', 'credit-card')

        - if(user.role === 'admin')
            .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
                +navItem('#', 'Manage tours', 'map')
                +navItem('#', ' Manage users', 'users')
                +navItem('#', ' Manage reviews', 'star')
                +navItem('#', ' Manage Bookings', 'briefcase')