doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet')
  //- link(rel='stylesheet' href='css/icon-font.css')
  link(rel='stylesheet' href='css/styleRoot.css')
  link(rel='shortcut icon' type='image/png' href='img/icons/main.png')
  title Dictioner
header.header
  .header__logo-box
    img.header__logo(src='./img/icons/main.png' alt='Logo')
  .header__text-box
    h1.heading-primary
      span.heading-primary--main Dictioner
      span.heading-primary--sub So Fast, So Simple
    div.padding
      a.btn.btn--white.btn--animated(href='/signup') Sign Up Now
    div.padding
      a.btn.btn--green.btn--animated--two(href='/login') Sign In
